<div class="app-container">
  <div class="sidebar">
    <!-- Contenido del menú izquierdo -->
    <!-- Puedes agregar tus componentes o enlaces aquí -->
  </div>

  <div class="main-container">
    <header class="sodexo-header">
      <div class="logo">
        <!-- Coloca aquí el logo de Sodexo -->
        <img src="https://www.sodexo.cl/fstrz/r/s/www.sodexo.cl/app/themes/sodexo-child/imagenes/plx-transitionLogo.svg?frz-v=154" alt="Logo de Sodexo">
      </div>
      <nav class="sodexo-navbar">
        <!-- Coloca aquí los enlaces de navegación -->
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Favoritos</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- Contenido del cuerpo -->
      <!-- Puedes colocar el contenido principal de tu aplicación aquí -->
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
